.container-booking {
  width: 100%;
  height: fit-content;
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.booking-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  padding: 25px;
}

.booking-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}
.booking-image-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3em;
}

@media only screen and (max-width: 576px) {
  .booking-details {
    width: 100%;
    height: fit-content;
    background-color: rgb(48, 47, 47);
    color: white;
    display: flex;
    flex-direction: column;
  }
  .booking-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .booking-image-caption {
    position: relative;
  }
}
