.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  background-color: grey;
  color: white;
}

.navbar-left h2 {
  cursor: pointer;
  font-family: cursive;
  font-weight: 600;
}

.navbar-right ul li a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.navbar-right ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 546px) {
  .navbar-left,
  .navbar-right,
  .nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-left,
  .navbar-right,
  .nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
